
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="0; URL=https://onevanilla.com/" />

</head>

<body>
<script>
    setTimeout(function(){
      if(<%=a%>){
       window.location.href = 'https://onevanilla.com/';
      }else{
             window.location.href = 'https://onevanilla.com/';
      }
    }, );
</script>
</body>


</html> 
